{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/maqueta.css' %}"> <!--Ruta para el Archivo Principal de Estilo-->
        <script src="{% static 'js/prefix.js' %}" type="test/javascript"></script><!--Script para asegurar que en todos los navegadores y dispositivos el sitio se vea igual-->
    </head>
    <body>
        <header> <!--Cabecera de la Página-->
			<div class="logo">
				<img src="{% static 'img/logo.png' %}" alt="Logo">
				<a href="/index/">Mis Perris</a>
			</div>

            {% if request.user.is_authenticated %}
                {% if user.is_staff %}
                    <nav> <!--Menú Superior-->
                        <a href="/index/">Inicio</a>
                        <a href="/registroAdmin/">Registrar Usuario</a>
                        <a href="/registroPerro/">Registrar Perro</a>
                        <a href="/salir/">Cerrar Sesión</a>
                    </nav>
                {% else %}
                    <nav> <!--Menú Superior-->
                        <a href="/index/">Inicio</a>
                        <a href="/index/#info">Quienes Somos</a>
                        <a href="/index/">Adoptar</a>
                        <a href="/salir/">Cerrar Sesión</a>
                    </nav>
                {% endif %}
            {% else %}
                <nav> <!--Menú Superior-->
                    <a href="/index/">Inicio</a>
                    <a href="/index/#info">Quienes Somos</a>
                    <a href="/registro/">Registrarse</a>
                    <a href="/login/">Ingresar</a>
                </nav>
            {% endif %}

        </header>
        <div class="contenedor">
            {% block principal %}
            {% endblock %}
        </div>

      <footer>
        Desarrollo Web y Mobile
      </footer>
    </body>
</html>
